@charset "UTF-8";

@media only screen and (max-width: 540px) {

/*/////////////////////////////////////////////////////////////////////

	smart phone css

----------------------------------------------------------------

	- common
	- base layout
	- contents
	- top
	- list
	- detail
	- other page

/////////////////////////////////////////////////////////////////////*/

/*--------------------------------------------------------------
	common
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	base layout
--------------------------------------------------------------*/

/* wrap, inner
--------------------------------------------------------------*/
.inner {
	width: 92.5925%;
}

/* column
--------------------------------------------------------------*/
.colMiddle {
	width: 100%;
}

.colHalfL {
	width: 100%;
	float: none;
	display: block;
}

.colHalfR {
	width: 100%;
	float: none;
	display: block;
}

.colMiddleL,
.colSmallR {
	width: 100%;
	float: none;
	display: block;
}

.colList3 article {
	width: 48%;
	margin-right: 4%;
	padding-bottom: 30px;
}

.colList3 article.count1 {
	clear: none;
}

.colList3 article.count3 {
	margin-right: 4%;
}

.colList3 article:nth-child(odd) {
	margin-left: 0;
	clear: left;
}

.colList3 article:nth-child(even) {
	margin-right: 0;
}

.colList4 article {
	width: 48%;
	margin-right: 4%;
	padding-bottom: 30px;
}

.colList4 article.count1 {
	clear: none;
}

.colList4 article:nth-child(odd) {
	margin-left: 0;
	clear: left;
}

.colList4 article:nth-child(even) {
	margin-right: 0;
}

/* header
--------------------------------------------------------------*/
#header {
	height: 75px;
}

#header #logoSite {
	margin-top: 12px;
}

#header #logoSite img {
	width: 83px;
}

#header #lnav {
	top: 27px;
}

.non-home #header #btnGnav {
	cursor: pointer;
	width: 21px;
	height: 21px;
	display: block;
	position: absolute;
	top: 27px;
	background: url(../img/common/btn_gnav_close_2x.gif) repeat;
	-webkit-background-size: 21px 21px;
	background-size: 21px 21px;
}

/* global navi（トップページ）
--------------------------------------------------------------*/
#gnav {
	margin-top: -120px;
}

#gnav.sticky {
	position: fixed;
	top: 120px;
}

#gnav ul li {
	width: 49%;
	margin-right: 2%;
}

#gnav ul li:nth-child(2n) {
	margin-right: 0;
}

/* global navi (トップページ以外)
--------------------------------------------------------------*/
.non-home #gnav {
	margin-top: 0;
	position: static;
	background-color: #000;
}

.non-home #gnav ul {
	padding-bottom: 5px;
}

.non-home #gnav ul li a {
	color: #fff;
	border-bottom: 1px solid #222;
}

#gnav ul li a:hover {
	padding-bottom: 4px;	
	border-bottom: 1px solid #fff;
}

/* ページ選択中 */
.non-home.home #gnav ul li#gnav1 a { padding-bottom: 4px; border-bottom: 1px solid #fff; }
.non-home.page-template-concept-php #gnav ul li#gnav2 a { padding-bottom: 4px; border-bottom: 1px solid #fff; }
.non-home.post-type-archive-works #gnav ul li#gnav3 a,
.non-home.tax-workcat #gnav ul li#gnav3 a { padding-bottom: 4px; border-bottom: 1px solid #fff; }
.non-home.page-template-profile-php #gnav ul li#gnav4 a { padding-bottom: 4px; border-bottom: 1px solid #fff; }
.non-home.blog #gnav ul li#gnav5 a { padding-bottom: 4px; border-bottom: 1px solid #fff; }
.non-home.page-template-contact-php #gnav ul li#gnav6 a { padding-bottom: 4px; border-bottom: 1px solid #fff; }

/* pagetop
--------------------------------------------------------------*/
#footer #pagetop img {
	width: 55px;
}

/* sitemap
--------------------------------------------------------------*/
#footer #sitemap {
	margin-bottom: 30px;
}

#footer #sitemap ul {
	width: 49%;
	float: left;
}

#footer #sitemap ul:first-child {
	margin-right: 2%;
	margin-left: 0;
}

#footer #sitemap ul li {
	float: none;
}

#footer #sitemap ul li ul {
	width: 100%;
	float: none;
}

#footer #sitemap ul li ul li {
	display: block;
}

#footer #sitemap ul li ul li a {
	display: inline;
}

/* sns button
--------------------------------------------------------------*/
#footer .btnSns {
	margin-bottom: 20px;
}

/* copyright
--------------------------------------------------------------*/


#footer #copyright span {
	display: none;
}

/*--------------------------------------------------------------
	contents
--------------------------------------------------------------*/

/* contents title
--------------------------------------------------------------*/
.ttlContents {
	margin-bottom: 40px;
	padding-top: 40px;
}

.ttlContents img {
	width: 200px;
}

/* category navi
--------------------------------------------------------------*/
#catNav {
	margin-bottom: 20px;
}

#catNav ul li {
	font-size: 16px;
}

/* page navi
--------------------------------------------------------------*/
#pageNav {
	margin-bottom: 60px;
	padding-top: 20px;
}

#pageNav ul li a {
	padding: 0.4em 0.7em 0.2em;
	font-size: 13px;
}

/* link button
--------------------------------------------------------------*/
.btnLink {
	padding-bottom: 40px;
}

.btnLink a {
	font-size: 14px;
}

/*--------------------------------------------------------------
	top
--------------------------------------------------------------*/

/* header
--------------------------------------------------------------*/
.home #header {
	padding-bottom: 160px;
	height: auto;
}

.home #header #lnav {
	top: 20px;
}

#header #imgTopMain {
	position: relative;
	width: 80%;
	margin-left: -40%;
	padding-top: 70px;
}

.home #header .btnLink {
	padding-top: 0;
	top: 20px;
}

/* bnr
--------------------------------------------------------------*/
#bnr ul {
	padding: 30px 0;
}

#bnr ul li {
	margin-left: 4%;
}

#bnr ul li:nth-child(2n-1) {
	margin-left: 0;
}

#bnr ul li img {
	width: 48%;
}

/*--------------------------------------------------------------
	article
--------------------------------------------------------------*/

/* multi column list
--------------------------------------------------------------*/

.multiColList article .thumb  {
	margin-bottom: 10px;
}

.multiColList article h1 {
	font-size: 13px;
}

.multiColList article .service {
	display: none;
}

.multiColList article time {
	font-size: 12px;
}

.multiColList article .cat {
	display: none;
}

.multiColList #closed_works p {
	font-size: 14px;
}

.multiColList #closed_works p span {
	display: block;
}

/* single column list
--------------------------------------------------------------*/
.singleColList article {
	margin-bottom: 30px;
}

.singleColList article .boxTxt h1 {
	margin-bottom: 5px;
	font-size: 14px;
}

.singleColList article .boxTxt .txt {
	font-size: 13px;
	line-height: 1.6;
}

.singleColList article .boxTxt time,
.singleColList article .boxTxt .cat {
	font-size: 12px;
}

/* blog detail
--------------------------------------------------------------*/
#detailBlog .colMiddle header time {
	margin-bottom: 10px;
	font-size: 14px;
}

#detailBlog .colMiddle header h1 {
	font-size: 22px;
}

#detailBlog .colMiddle .data time {
	display: none;
}

#detailBlog .colMiddle .data .cat {
	font-size: 14px;
}

#detailBlog .colMiddle .content {
	font-size: 14px;
	line-height: 2;
}

/*--------------------------------------------------------------
	other page
--------------------------------------------------------------*/

/* concept
--------------------------------------------------------------*/
#concept h2 img {
	width: 280px;
}

#concept p {
	margin: 0 2% 40px;
	font-size: 14px;
	line-height: 2;
	text-align: justify;
}

#concept p br {
	display: none;
}

#service h2 {
	margin-bottom: 10px;
}

#service h2 img {
	width: 160px;
}

#service p {
	margin: 0 2% 30px;
	font-size: 14px;
	line-height: 2;
}

/* profile
--------------------------------------------------------------*/
#profile .imgProfile {
	width: 100%;
	padding-bottom: 30px;
	float: none;
	display: block;
	text-align: left;
}

#access .googleMap iframe {
	width: 100%;
	height: 250px;
}

#access .address span {
	margin-right: 0.5em;
	display: block;
}

#access .address a {
	color: #7b7b7b;
}

/* contact
--------------------------------------------------------------*/
#contact .colMiddle .text a {
	color: #7b7b7b;
}

#contact .colMiddle table th,
#contact .colMiddle table td {
	width: 100%;
	display: block;
	font-size: 14px;
}

#contact .colMiddle table th {
	padding: 15px 0 3px 0;
}

#contact .colMiddle table td {
	padding: 0;
}


}

