@charset "UTF-8";

/*/////////////////////////////////////////////////////////////////////

	base css

----------------------------------------------------------------

	- common
	- base layout
	- contents
	- top
	- list
	- detail
	- other page

/////////////////////////////////////////////////////////////////////*/

/*--------------------------------------------------------------
	common
--------------------------------------------------------------*/

body {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size: 13px;
	letter-spacing: 0.02em;
	line-height: 1.7;
	text-align: center;
	-webkit-text-size-adjust: 100%;
	position: relative;
}

/* link */
a {
	outline: none;
	text-decoration: none;
	color: #000;
}

a:hover img.hoverImage {
	opacity: 0.7;
	filter: alpha(opacity=70);        /* IE7以下 */
	-ms-filter: "alpha(opacity=70)";  /* IE8 */
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}

.mb0 { margin-bottom: 0 !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }

.pb0 { padding-bottom: 0 !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }

.taL { text-align: left; }
.taR { text-align: right; }
.taC { text-align: center; }

.fL { float: left; }
.fR { float: right; }
.cB { clear: both; }

/* clearfix
--------------------------------------------------------------*/
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}

/*--------------------------------------------------------------
	base layout
--------------------------------------------------------------*/

/* wrap, inner
--------------------------------------------------------------*/
.wrap {
	background-color: #F7F7F7;
}

.wrapW {
	background-color: #fff;
}

.inner {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

@media screen and (min-width: 769px) and (max-width: 1079px) {
.inner {
	width: 90.7407%;
}
}

/* column
--------------------------------------------------------------*/
/* 1段組：ミドルサイズ */
.colMiddle {
	width: 69.3877%;;
	margin: 0 auto;
}

/* 2段組：左 */
.colHalfL {
	width: 45.9183%;
	float: left;
	display: inline;
}

/* 2段組：右 */
.colHalfR {
	width: 45.9183%;
	float: right;
	display: inline;
}

/* 2段組：左ミドルサイズ */
.colMiddleL {
	width: 65.3061%;
	float: left;
	display: inline;
}

/* 2段組：右スモールサイズ */
.colSmallR {
	width: 28.5714%;
	float: right;
	display: inline;
}

/* 一覧3段組 */
.colList3 article {
	width: 30.204%;
	margin-right: 4.6938%;
	padding-bottom: 50px;
	float: left;
	display: inline;
	text-align: left;
}

.colList3 article.count1 {
	clear: left;
}

.colList3 article.count3 {
	margin-right: 0;
}

/* 一覧4段組 */
.colList4 article {
	width: 22.2448%;
	margin-right: 3.6734%;
	padding-bottom: 50px;
	float: left;
	display: inline;
	text-align: left;
}

.colList4 article.count1 {
	clear: left;
}

.colList4 article.count4 {
	margin-right: 0;
}


/* header
--------------------------------------------------------------*/
#header {
	position: relative;
}

#header {
	height: 165px;
}

#header #logoSite {
	margin-top: 25px;
}

#header #lnav {
	position: absolute;
	top: 20px;
	right: 0;
}

#header #lnav ul li {
	margin-left: 6px;
	float: right;
	display: inline;
}

#header #btnGnav {
	display: none;
}

/* global navi
--------------------------------------------------------------*/
#gnav {
	position: absolute;
	background-color: #fff;
	width: 100%;
	margin-top: -40px;
	z-index: 1;
	left: 0;
}

#gnav.sticky {
	position: fixed;
	top: 40px;
}

.ie6 #gnav ul li {
	margin-right: 10px;
}

#gnav ul li#gnav6 {
	margin-right: 0;
}

#gnav ul li a {
	padding: 9px 0 5px;
	display: block;
	border-bottom: 1px solid #dddddd;
	font-family: 'Linden Hill', serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
}

#gnav ul li a:hover {
	padding-bottom: 4px;
	border-bottom: 2px solid #000;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}

/* ページ選択中 */
.home #gnav ul li#gnav1 a { padding-bottom: 4px; border-bottom: 2px solid #000; }
.page-template-concept-php #gnav ul li#gnav2 a { padding-bottom: 4px; border-bottom: 2px solid #000; }
.post-type-archive-works #gnav ul li#gnav3 a,
.tax-workcat #gnav ul li#gnav3 a { padding-bottom: 4px; border-bottom: 2px solid #000; }
.page-template-profile-php #gnav ul li#gnav4 a { padding-bottom: 4px; border-bottom: 2px solid #000; }
.blog #gnav ul li#gnav5 a { padding-bottom: 4px; border-bottom: 2px solid #000; }
.page-template-contact-php #gnav ul li#gnav6 a { padding-bottom: 4px; border-bottom: 2px solid #000; }

/* footer
--------------------------------------------------------------*/
#footer {
	background-color: #000;
	color: #fff;
}

/* pagetop
--------------------------------------------------------------*/
#footer #pagetop {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 2;
}

.ie6 #footer #pagetop {
	display: none;
}

/* sitemap
--------------------------------------------------------------*/
#footer #sitemap {
	margin-bottom: 50px;
	padding-top: 20px;
}

#footer #sitemap ul li {
	width: 15.8163%;
	margin-right: 1.0204%;
	float: left;
	display: inline;
}

#footer #sitemap ul li.last {
	margin-right: 0;
}

#footer #sitemap ul li span {
	display: block;
	margin-bottom: 10px;
	padding: 7px 0;
	font-family: 'Linden Hill', serif;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #222;
}

#footer #sitemap ul li ul {
}

#footer #sitemap ul li ul li {
	width: 100%;
	display: block;
	float: none;
}

#footer #sitemap ul li ul li a {
	padding: 3px 0;
	display: block;
	color: #808080;
	font-size: 13px;
	line-height: 1.4;
	font-weight: normal;
}

#footer #sitemap ul li ul li a:hover {
	color: #fff;
}

/* sns button
--------------------------------------------------------------*/
#footer .btnSNS {
	margin-bottom: 40px;
}

#footer .btnSNS ul li {
	margin: 0 1px;
	display: inline;
}

#footer .btnSNS ul li.btnTwitter iframe {  width: 100px !important; }

/* copyright
--------------------------------------------------------------*/
#footer #copyright {
	font-family: 'Linden Hill', serif;
	font-size: 15px;
	line-height: 75px;
}

/*--------------------------------------------------------------
	contents
--------------------------------------------------------------*/

/* contents title
--------------------------------------------------------------*/
.ttlContents {
	margin-bottom: 60px;
	padding-top: 80px;
}

/* contents text
--------------------------------------------------------------*/
.noData {
	padding-top: 60px;
	font-size: 15px;
}


/* category navi
--------------------------------------------------------------*/
#catNav {
	margin-bottom: 45px;
}

#catNav ul li {
	margin-left: 2.551%;
	display: inline;
	font-family: 'Linden Hill', serif;
	font-size: 17px;
	line-height: 1.5;
}

#catNav ul li:not(:first-child):before {
	content: "/";
	margin-right: 2.551%;
	color: #7b7b7b;
}

#catNav ul li a {
	color: #7b7b7b;
}

/* page navi
--------------------------------------------------------------*/
#pageNav {
	width: 100%;
	margin-bottom: 100px;
	padding-top: 40px;
	clear: both;
}

#pageNav ul li {
	margin: 0 1.5306%;
	display: inline;
}

#pageNav ul li a {
	padding: 0.4em 1em 0.2em;
	display: inline-block;
	background-color: #000;
	font-family: 'Linden Hill', serif;
	font-size: 16px;
	color: #fff;
}

#pageNav ul li a:hover {
	background-color: #4c4c4c;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}

/* link button
--------------------------------------------------------------*/
.btnLink {
	padding-bottom: 80px;
}

.btnLink a {
	padding: 0.4em 1em 0.2em;
	display: inline-block;
	background-color: #000;
	font-family: 'Linden Hill', serif;
	font-size: 16px;
	color: #fff;
}

.btnLink a:hover {
	background-color: #4c4c4c;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}

/*--------------------------------------------------------------
	top
--------------------------------------------------------------*/

/* header
--------------------------------------------------------------*/
.home #header {
	height: 825px;
}

.home #header #lnav {
	top: 40px;
}

#header #imgTopMain {
	width: 450px;
	margin-left: -225px;
	padding-top: 210px;
	position: absolute;
	left: 50%;
}

#header #imgTopMain img {
	width: 100%;
}

#header #imgTopMain img.imgOver {
	position: absolute;
}

.home #header .btnLink {
	padding-top: 600px;
	position: relative;
}

/* bnr
--------------------------------------------------------------*/
#bnr ul {
	padding: 50px 0;
}

#bnr ul li {
	margin-left: 1.6326%;
	display: inline;
}

#bnr ul li:first-child {
	margin-left: 0;
}

#bnr ul li img {
	width: 23.7755%;
}

/*--------------------------------------------------------------
	article
--------------------------------------------------------------*/

/* multi column list
--------------------------------------------------------------*/
.multiColList article img {
	width: 100%;
	height: auto;
}

.multiColList article .thumb  {
	margin-bottom: 15px;
}

.multiColList article h1 {
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.4;
}

.multiColList article .service {
	font-size: 11px;
	line-height: 1.6;
	color: #7b7b7b;
}

.multiColList article time {
	margin-right: 0.5em;
	float: left;
	line-height: 1.4;
	color: #7b7b7b;
}

.multiColList article .cat {
	line-height: 1.4;
	color: #7b7b7b;
}

.bwWrapper {
    position: relative;
    display: block;
}

.multiColList #closed_works p {
	margin-bottom: 100px;
	font-size: 15px;
}

.multiColList #closed_works p a {
	color: #7b7b7b;
}

/* single column list
--------------------------------------------------------------*/
.singleColList article {
	margin-bottom: 40px;
}

.singleColList article .thumb {
	width: 32.0588%;
	float: left;
	display: inline;
}

.singleColList article .thumb img {
	width: 100%;
	height: auto;
}

.singleColList article .boxTxt {
	width: 64.2647%;
	margin-left: 3.6764%;
	float: left;
	display: inline;
	text-align: left;
}

.ie6 .singleColList article .boxTxt,
.ie7 .singleColList article .boxTxt {
	cursor: pointer;
}

.singleColList article .boxTxt h1 {
	padding-top: 15px;
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.4;
}

@media screen and (max-width: 1079px) {
.singleColList article .boxTxt h1 {
	padding-top: 0;
}
}

.singleColList article .boxTxt .txt {
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 1.8;
	text-align: justify;
}

.singleColList article .boxTxt time {
	margin-right: 0.5em;
	float: left;
	line-height: 1.4;
	color: #7b7b7b;
}

.singleColList article .boxTxt .cat {
	line-height: 1.4;
	color: #7b7b7b;
}

/* blog detail
--------------------------------------------------------------*/
#detailBlog .colMiddle {
	text-align: left;
}

#detailBlog .colMiddle .btnSNS li {
	margin-left: 2px;
	float: right;
	display: inline;
}

#detailBlog .colMiddle .btnSNS li.btnTwitter {
	width: 100px;
}

#detailBlog .colMiddle header time {
	margin-bottom: 10px;
	float: left;
	font-size: 16px;
	line-height: 1.4;
	color: #7b7b7b;
}

#detailBlog .colMiddle header h1 {
	margin-bottom: 30px;
	clear: left;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.4;
}

#detailBlog .colMiddle .photo {
	margin-bottom: 30px;
}

#detailBlog .colMiddle .photo img {
	width: 100%;
	height: auto;
}

#detailBlog .colMiddle .content {
	font-size: 15px;
	line-height: 2.2;
}

#detailBlog .colMiddle .content a {
	text-decoration: underline;
}

#detailBlog .colMiddle .content img {
	max-width: 100%;
	height: auto;
}

.ie6 #detailBlog .colMiddle .content img {
	width: 100%;
}

.ie8 #detailBlog .colMiddle .content img {
	width: auto;
}

#detailBlog .colMiddle .content h1  {
	margin-bottom: 10px;
	padding-top: 30px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
}

#detailBlog .colMiddle .content h2  {
	margin-bottom: 5px;
	padding-top: 20px;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.4;
}

#detailBlog .colMiddle .content p {
	margin-bottom: 2em;
}

#detailBlog .colMiddle .content ul,
#detailBlog .colMiddle .content ol {
	margin-bottom: 2em;
	margin-left: 2.5em;
}

#detailBlog .colMiddle .content ul {
	list-style: disc;
}

#detailBlog .colMiddle .content ol {
	list-style: decimal;
}

#detailBlog .colMiddle .content blockquote {
	margin-bottom: 2em;
	padding: 1em 1.5em 0.5em;
	background-color: #fff;
}

#detailBlog .colMiddle .content blockquote p {
	margin-bottom: 0.5em;
}

#detailBlog .colMiddle .data {
	margin-bottom: 40px;
	padding-top: 20px;
}

#detailBlog .colMiddle .data time {
	margin: 0 0.5em 5px 0;
	float: left;
	font-size: 15px;
	line-height: 1.4;
	color: #7b7b7b;
}

#detailBlog .colMiddle .data .cat {
	font-size: 15px;
	line-height: 1.4;
	color: #7b7b7b;
}

/* work detail
--------------------------------------------------------------*/
#detailWork .colMiddleL img {
	width: 100%;
	height: auto;
	padding-bottom: 40px;
}

#detailWork .colSmallR {
	text-align: left;
}

#detailWork .colSmallR .cat {
	margin-bottom: 5px;
	font-size: 13px;
	text-transform: uppercase;
	color: #7b7b7b;
	line-height: 1.4;
}

#detailWork .colSmallR h1 {
	margin-bottom: 25px;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.4;
}

#detailWork .colSmallR .service {
	margin-bottom: 25px;
	font-size: 12px;
	color: #7b7b7b;
	line-height: 1.6;
}

#detailWork .colSmallR .outline {
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 2;
	text-align: justify;
}

#detailWork .colSmallR .credit {
	margin-bottom: 25px;
	font-size: 12px;
	color: #7b7b7b;
	line-height: 1.7;
}

#detailWork .colSmallR .url a {
	margin-bottom: 40px;
	padding: 0.4em 1em 0.2em;
	display: inline-block;
	background-color: #000;
	font-family: 'Linden Hill', serif;
	font-size: 14px;
	color: #fff;
}

#detailWork .colSmallR .url a:hover {
	background-color: #4c4c4c;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}

#detailWork .colSmallR .btnSNS {
	padding-bottom: 60px;
}

#detailWork .colSmallR .btnSNS li {
	margin-right: 2px;
	float: left;
	display: inline;
}

#detailWork .colSmallR .btnSNS li.btnTwitter {
	width: 100px;
}

/*--------------------------------------------------------------
	other page
--------------------------------------------------------------*/

/* concept
--------------------------------------------------------------*/
#concept .inner {
	padding-bottom: 40px;
}

#concept h2 {
	margin-bottom: 40px;
}

#concept p {
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 2.3;
}

#concept p span {
	display: block;
}

#service .inner {
	padding-bottom: 60px;
}

#service h2 {
	margin-bottom: 20px;
}

#service p {
	margin-bottom: 55px;
	font-size: 15px;
	line-height: 2;
	text-align: justify;
}

/* profile
--------------------------------------------------------------*/
#profile .imgProfile {
	width: 50%;
	padding-bottom: 80px;
	float: left;
	display: inline;
}

#profile .imgProfile img {
	width: 100%;
}

#profile .colHalfR {
	padding-bottom: 80px;
	text-align: left;
}

#profile .colHalfR .title {
	padding-top: 15px;
	font-size: 13px;
}

@media screen and (max-width: 1079px) {
#profile .colHalfR .title {
	padding-top: 0;
}
}

#profile .colHalfR h2 {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: normal;
	letter-spacing: 0.1em;
}

#profile .colHalfR h2 span {
	margin-left: 1em;
	font-family: 'Linden Hill', serif;
	color: #7b7b7b;
	font-size: 14px;
	font-weight: normal;
}

#profile .colHalfR p {
	line-height: 2;
	text-align: justify;
}

#access .googleMap {
	margin-bottom: 30px;
}

#access .googleMap iframe {
	width: 100%;
	height: 450px;
}

#access .address {
	margin-bottom: 100px;
	font-size: 14px;
}

#access .address span {
	margin-right: 1em;
}

#access .address a.mail {
	color: #7b7b7b;
}

/* contact
--------------------------------------------------------------*/

#contact .colMiddle {
	padding-bottom: 100px;
	text-align: left;
}

#contact .colMiddle .text {
	margin-bottom: 30px;
	font-size: 15px;
}

#contact .colMiddle .text a.mail {
	color: #7b7b7b;
}

#contact .colMiddle .note {
	margin-bottom: 10px;
	text-align: right;
}

#contact .colMiddle .note span {
	color: #FA3483;
}

#contact .colMiddle table {
	width: 100%;
	font-size: 15px;
}

#contact .colMiddle table th {
	width: 30%;
	padding: 10px 0;
	font-weight: normal;
	text-align: left;
}

#contact .colMiddle table th span {
	color: #FA3483;
}

#contact .colMiddle table td {
	width: 70%;
	padding: 10px 0;
}

#contact .colMiddle table input,
#contact .colMiddle table textarea {
	-webkit-appearance: none;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #dddddd;
	font-size: 15px;
	vertical-align: middle;
}

#contact .colMiddle table input:focus,
#contact .colMiddle table textarea:focus {
	background-color: #fff;
	border: 2px solid #12abeb;
}

.wpcf7 input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	margin: 30px 0 0 0;
	padding: 0.2em 2em;
	background-color: #000;
    border-style: none;
	border-radius: 0;
	-webkit-border-radius : 0;
	-moz-border-radius: 0;
	font-family: "游明朝","游明朝体", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
    font-size: 16px;
	letter-spacing: 0.1em;
    color: #fff;
}

.wpcf7 input[type="submit"]:hover {
	background-color: #4c4c4c;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}

.wpcf7 span.wpcf7-not-valid-tip {
	margin-top: 5px;
	font-size: 13px;
	color: #fa3483;
}

.wpcf7 .wpcf7-not-valid {
    background: #ffeff4;
	border: 2px solid #12abeb;
}

.wpcf7 .wpcf7-response-output {
	margin: 20px 0 0 0;
	padding: 15px;
}

.wpcf7 .wpcf7-validation-errors {
	color: #fa3483;
	background-color: #ffeff4;
	border: none;
	font-size: 15px;
}

.wpcf7 .wpcf7-mail-sent-ok {
	color: #1893DE;
	background-color: #F2FAFF;
	border: none;
	font-size: 15px;
}

.singleColList article .noCover {
	width: 100% !important;
	margin-left: 0 !important;
}

.singleColList article .thumb img {
	height: 160px !important;
}

/* post页面的css */
#post {
	width: 100%;
	margin: 0 auto;
	background-color: #F7F7F7;
}
#post .inner {
	width: 90.7407%;
	margin: 0 auto;
    overflow: hidden;
}
#post .ttlContents {
    margin-bottom: 60px;
    padding-top: 80px;
}
#post header h1 {
    margin-bottom: 30px;
    clear: left;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4;
}
#post header time {
    margin-bottom: 10px;
    float: left;
    font-size: 16px;
    line-height: 1.4;
    color: #7b7b7b;
}
#post .colMiddle {
	text-align: left;
	width: 69.3877%;
	margin: 0 auto;
	font-size: 15px;
    line-height: 2.2;
}
#post .colMiddle p {
	margin-bottom: 2em;
}
#post .colMiddle p img {
	max-width: 100%;
}
/* 代码高亮 */
pre .ruby .class .title, pre .css .rules .attribute, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata, pre .special, pre .number, pre .formula {
    color: #b5bd68;
}
pre .keyword, pre .javascript .function {
    color: #b294bb;
}
pre .title, pre .css .hexcolor {
    color: #8abeb7;
}
pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant, pre .command {
    color: #de935f;
}
.highlight {
    border-radius: 1px;
}
.highlight table {
    margin: 0;
    width: auto;
    border: none;
}
table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.highlight td {
    border: none;
    padding: 0;
}
.gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.highlight .gutter pre {
    padding-left: 10px;
    padding-right: 10px;
    color: #888f96;
    text-align: right;
    background-color: #000;
}
.highlight pre {
    border: none;
    margin: 0;
    padding: 10px 0;
}
pre, code {
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
pre, .highlight {
    overflow: auto;
    margin: 20px 0;
    padding: 0;
    font-size: 13px;
    color: #c5c8c6;
    background: #1d1f21;
    line-height: 1.6;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
pre {
    overflow: auto;
}
pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
.highlight .line {
    height: 20px;
}
pre .comment {
    color: #969896;
}