@charset "UTF-8";

@media screen and (min-width: 541px) and (max-width: 768px) {

/*/////////////////////////////////////////////////////////////////////

	tablet css

----------------------------------------------------------------

	- common
	- base layout
	- contents
	- top
	- list
	- detail
	- other page

/////////////////////////////////////////////////////////////////////*/

/*--------------------------------------------------------------
	common
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	base layout
--------------------------------------------------------------*/

/* wrap, inner
--------------------------------------------------------------*/
.inner {
	width: 92.1875%;
}

/* column
--------------------------------------------------------------*/
.colMiddle {	
	width: 96.0451%;
	margin: 0 auto;
}

.colMiddleL,
.colSmallR {
	width: 100%;
	float: none;
	display: block;
}

.colList3 article {
	width: 30.5084%;
	margin-right: 4.2372%;
	padding-bottom: 40px;
}

.colList4 article {
	width: 22.0338%;
	margin-right: 3.9548%;
	padding-bottom: 40px;
}

/* header
--------------------------------------------------------------*/
#header {
	height: 215px;
}

/* global navi
--------------------------------------------------------------*/
#gnav {
	margin-top: -80px;
}

#gnav.sticky {
	position: fixed;
	top: 80px;
}

#gnav ul li {
	width: 32.2033%;
	margin-right: 1.6949%;
}

#gnav ul li:nth-child(3n) {
	margin-right: 0;
}

/* sitemap
--------------------------------------------------------------*/
#footer #sitemap {
	margin-bottom: 30px;
	padding-top: 0px;
}

#footer #sitemap ul {
	padding-top: 20px;
	margin-left: 0;
	clear: left;
}

#footer #sitemap ul li ul {
	padding-top: 0px;
}

#footer #sitemap ul li {
	width: 32.2033%;
	margin-right: 1.6949%;
}

#footer #sitemap ul li:nth-child(3) {
	margin-right: 0;
}

/* sns button
--------------------------------------------------------------*/
#footer .btnSns {
	margin-bottom: 20px;
}

/*--------------------------------------------------------------
	contents
--------------------------------------------------------------*/

/* contents title
--------------------------------------------------------------*/
.ttlContents {
	margin-bottom: 40px;
	padding-top: 50px;
}

.ttlContents img {
	width: 260px;
}

/* link button
--------------------------------------------------------------*/
.btnLink {
	padding-bottom: 60px;
}

/*--------------------------------------------------------------
	top
--------------------------------------------------------------*/

/* header
--------------------------------------------------------------*/
.home #header {
	height: 615px;
}

#header #imgTopMain {
	width: 360px;
	margin-left: -180px;
	padding-top: 130px;
}

.home #header .btnLink {
	padding-top: 450px;
	top: -5px;
}

/* bnr
--------------------------------------------------------------*/
#bnr ul {
	padding: 40px 0;
}

#bnr ul li {
	margin-left: 4.2372%;
}

#bnr ul li:nth-child(3n-2) {
	margin-left: 0;
}

#bnr ul li img {
	width: 30.5084%;
}

/*--------------------------------------------------------------
	article
--------------------------------------------------------------*/

/* multi column list
--------------------------------------------------------------*/
.multiColList article .thumb  {
	margin-bottom: 12px;
}

/*--------------------------------------------------------------
	other page
--------------------------------------------------------------*/

/* concept
--------------------------------------------------------------*/
#concept h2 img {
	width: 370px;
}

#concept p {
	font-size: 14px;
	line-height: 2;
}

#service p {
	font-size: 14px;
}

/* profile
--------------------------------------------------------------*/
#profile .imgProfile {
	width: 100%;
	padding-bottom: 30px;
	float: none;
	display: block;
}

#profile .imgProfile img {
	width: 70%;
}

#profile .colHalfR {
	width: 100%;
	margin-right: 0;
	float: none;
	display: block;
}

}